{% extends "base.html" %}

{% block title %}
Übersicht der Events
{% endblock %}

{% block head %}
<h1>Übersicht der Events</h1>
{% endblock %}


{% block content %}
<p>
    <a href="{% url 'events:event_create' %}">neuen Event anlegen</a>
</p>

<ul>
    {% for event in events %}
    <li>
        <a href="{% url 'events:event_detail' event.pk  %}">
            {{event}} [{{event.category.name}}]
        </a>

        [<a href="{% url 'events:event_delete' event.pk  %}">
            löschen
        </a>]
        ({{event.author}})

    </li>
    {% endfor %}
</ul>
{% endblock %}